.navbar-menu ul {
    margin:  0;
    padding: 0;
}

.navbar-menu li {
    border-style: solid;
    border-color: rgba(0, 0, 0, .2);
    border-width: 0 0 1px;
}

.navbar-menu li {
    position:    relative;
    display:     block;
    color:       white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

.navbar-menu .navbar-sub-menu {
    border-style: solid;
    display:      none;
    border-width: 0px 0px 0px;
    margin:       0em 1em;
}

.navbar-menu li:last-child,
.navbar-menu .navbar-sub-menu li:last-child {
    border-width: 0;
}

.navbar-menu a {
    position:           relative;
    display:            block;
    text-shadow:        1px 1px 0 rgba(0, 0, 0, .125);
    padding:            0.75em 0.75em;
    transition:         all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

.navbar-menu > ul li > a {
    cursor:          default;
    text-decoration: none;
    color:           #000000;
    background:      #fafafa;
}

.navbar-menu > ul li {
    color:      #000000;
    background: #f0f0f0;
}

.navbar-menu > ul li:hover {
    color:      #e20378;
    background: #f0f0f0;
}

.navbar-menu > ul li:hover > a {
    color:      #e20378;
    background: #f0f0f0;
}

.navbar-menu > ul li.open > a {
    color:      #e20378;
    background: #f0f0f0;
}

.navbar-menu ul li > a span {
    transform:  rotate(0deg);
    transition: all 0.2s ease 0s;
}

.navbar-menu ul li.open > a span {
    transform:  rotate(90deg);
    transition: all 0.2s ease 0s;
}

.navbar-menu ul li > a span {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.navbar-menu ul li > a span {
    padding:     0.8em;
    line-height: inherit;
    position:    absolute;
    right:       0;
    top:         0;
}

.navbar-menu ul li > a span:before {
    content: "\f105";
}

@media only screen and (min-width: 1024px) {
    .navbar-menu ul li > a span {
        transform:  rotate(0deg);
        transition: all 0.0s ease 0s;
    }

    .navbar-menu ul li.open > a span {
        transform:  rotate(90deg);
        transition: all 0.0s ease 0s;
    }

    .navbar-menu ul li > a span {
        padding:     1em;
        line-height: inherit;
        position:    inherit;
    }

    .navbar-menu ul li > a span:before {
        content: "\f107";
    }

    .navbar-menu ul li > ul li > a span {
        padding:     1em;
        line-height: inherit;
        position:    absolute;
    }

    .navbar-menu ul li > ul li > a span:before {
        content: "\f105";
    }

    .navbar-menu li {
        float:        left;
        border-width: 0 0px 0 0;
    }

    .navbar-menu .navbar-sub-menu {
        display:      none;
        border-width: 0;
        margin:       0;
        position:     absolute;
        top:          100%;
        left:         0;
        width:        12em;
        z-index:      3000;
    }

    .navbar-menu .navbar-sub-menu li {
        float:        none;
        border-width: 0 0 1px;
    }

    .navbar-menu .navbar-sub-menu .navbar-sub-menu {
        top:  0;
        left: 100%;
    }

    .navbar-menu > ul li .navbar-sub-menu {
        height: auto;
        width:  300px;
    }

    .navbar-menu li:hover > .navbar-sub-menu {
        display: block;
    }
}
